<?xml version="1.0" encoding="UTF-8"?>
<web-app version="6.0" xmlns="https://jakarta.ee/xml/ns/jakartaee" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:schemaLocation="https://jakarta.ee/xml/ns/jakartaee https://jakarta.ee/xml/ns/jakartaee/web-app_6_0.xsd">
    <filter>
        <filter-name>RoleFilter</filter-name>
        <filter-class>filter.RoleFilter</filter-class>
    </filter>
    <filter-mapping>
        <filter-name>RoleFilter</filter-name>
        <url-pattern>/PatientSection</url-pattern>
    </filter-mapping>
    <servlet>
        <servlet-name>PatientDashboard</servlet-name>
        <servlet-class>com.Patient.PatientDashboard</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>GiveMedicineServlet</servlet-name>
        <servlet-class>com.Pharma.GiveMedicineServlet</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>PatientDashboard</servlet-name>
        <url-pattern>/PatientDashboard</url-pattern>
    </servlet-mapping>
    <servlet>
        <servlet-name>AllPatients</servlet-name>
        <servlet-class>com.Patient.AllPatients</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>AllPatients</servlet-name>
        <url-pattern>/AllPatients</url-pattern>
    </servlet-mapping>
    <servlet>
        <servlet-name>PatientDetailsServlet</servlet-name>
        <servlet-class>com.Patient.PatientDetailsServlet</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>PatientDetailsServlet</servlet-name>
        <url-pattern>/patientDetails</url-pattern>
    </servlet-mapping>
    <servlet>
        <servlet-name>PatientSearch</servlet-name>
        <servlet-class>com.Patient.PatientSearch</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>PatientSearch</servlet-name>
        <url-pattern>/PatientSearch</url-pattern>
    </servlet-mapping>
    <servlet>
        <servlet-name>AppointmentDetailsServlet</servlet-name>
        <servlet-class>com.Patient.AppointmentDetailsServlet</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>AppointmentDetailsServlet</servlet-name>
        <url-pattern>/appointmentDetails</url-pattern>
    </servlet-mapping>
    <servlet>
        <servlet-name>UpdateMedicineServlet</servlet-name>
        <servlet-class>com.Pharma.UpdateMedicineServlet</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>UpdateMedicineServlet</servlet-name>
        <url-pattern>/update</url-pattern>
    </servlet-mapping>
    <servlet>
        <servlet-name>AddMedicineServlet</servlet-name>
        <servlet-class>com.Pharma.AddMedicineServlet</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>AddMedicineServlet</servlet-name>
        <url-pattern>/AddMedicineServlet</url-pattern>
    </servlet-mapping>
    <servlet>
        <servlet-name>showExpiredMedicinesServlet</servlet-name>
        <servlet-class>com.Pharma.ShowExpiredMedicinesServlet</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>showExpiredMedicinesServlet</servlet-name>
        <url-pattern>/expired</url-pattern>
    </servlet-mapping>
    <servlet>
        <servlet-name>DeleteMedicineServlet</servlet-name>
        <servlet-class>com.Pharma.DeleteMedicineServlet</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>DeleteMedicineServlet</servlet-name>
        <url-pattern>/deleteMedicine</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>GiveMedicineServlet</servlet-name>
        <url-pattern>/GiveMedicineServlet</url-pattern>
    </servlet-mapping>
    <welcome-file-list>
        <welcome-file>index.jsp</welcome-file>
    </welcome-file-list>
</web-app>